/*
        ========================================
        Grundlegendes Setup
        ========================================
        */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #0f1a27;
  overflow-x: hidden;
}

/*
        ========================================
        Typografie und Elemente
        ========================================
        */
#guess-info {
  color: #c7a47a;
  font-weight: bold;
  margin-top: 10px;
}

button {
  background-color: #427542;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #213b21;
  transform: translateY(-2px);
}

.btn {
  background-color: #c7a47a;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #a38361;
  transform: translateY(-2px);
}

.btn-dark {
  background-color: #0f1a27;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-dark:hover {
  background-color: #192a3d;
  transform: translateY(-2px);
}

/*
        ========================================
        Layout-Elemente
        ========================================
        */

/* Navigation */
.navbar {
  background-color: #0f1a27;
  padding: 15px 40px;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.nav-logo:hover,
.nav-logo:active {
  text-decoration: underline;
}

/* Hauptinhalt */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  padding: 2rem 0;
  max-width: 1140px; /* Zentriert den Inhalt */
  width: 100%;
  margin: 0 auto;
}

/* Footer */
.footer {
  background-color: #0f1a27;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

/* --- Spezifische Styles für das Spiel --- */
h1 {
  font-size: 2.5em;
  color: #0f1a27;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
  text-align: center;
  color: #444;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  max-width: 90%;
  margin: 30px auto;
  padding: 15px;
  background-color: #d2e2fc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #486179;
  border: 2px solid #182335;
  border-radius: 50%;
  font-size: 4em;
  line-height: 100px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s, background-color 0.2s;
}

.hole:hover {
  transform: scale(1.05);
  background-color: #2f405c;
}

/* Nachrichten und Anzeigen */
#score,
#timer {
  font-weight: bold;
  font-size: 1.8em;
}

#end-message {
  margin-top: 20px;
  font-size: 2em;
  color: #a83627;
  font-weight: bold;
}

/* Schwierigkeitsgrad-Optionen */
.difficulty-options {
  margin-top: 20px;
  font-size: 1.1em;
}

.difficulty-options label {
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  #score,
  #timer {
    font-size: 1.2rem;
  }

  #game-board {
    gap: 10px;
  }

  .hole {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 3.2rem;
  }

  button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  p {
    font-size: 1rem;
  }
}
